Flask==1.1.2
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
Werkzeug==0.15.5
numpy==1.18.5
pandas==1.1.2
matplotlib==3.4.1
joblib==0.16.0
scipy==1.5.2

scikit_learn==0.24.1
